.mobile-img{
    position: absolute;
    opacity: 0.5;
    z-index: -1;
}
.desktop-img{
    position: absolute;
    display: none;
    opacity: 0.5;
    z-index: -1;
}


@media only screen and (min-width : 1440px) {
    .mobile-img{
        display: none;
    }
    .desktop-img{
        display: block;
    }
    
}